.catalogo-container {
    padding: 30px;
   
   
}

.catalogo-titulo {
    font-size: 28px;
    margin-bottom: 25px;
    text-align: center;
    color: #333;
}

.catalogo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
}

