.pagination {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 6px 12px;
    background: white;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 6px;
}

.pagination button.active {
    background: #184B89;
    color: white;
    border-color: #184B89;
}
